.git
.gitignore
.env
.env.*
.secrets

**/node_modules
**/__pycache__
**/*.pyc
**/.pytest_cache

frontend/src/build
frontend/src/dist

helm-chart
.github
.vscode

README.md
DEPLOYMENT.md
CONTRIBUTING.md
